{% extends 'skeletons/main.html' %}

{% block body_content %}
<div class="row">
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="col s8 offset-s2">
                {{field.label}}
                {{field}}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col s8 offset-s2">
                <button class="btn waves-effect waves-light" type="submit" name="action">Crear cuenta
                    <i class="material-icons right">send</i>
                </button>
                {{ form.errors }}
            </div>
        </div>
    </form>
</div>
{% endblock body_content %}