{% extends 'skeletons/main.html' %}
{% block body_content %}

<div class="row">
    <div class="col m7 s12 ">
        <div class="card">
            <div class="card-image">
                <img src="{{MEDIA_URL}}{{apartment_images.0.imageFile}}">
                <span class="card-title">{{apartment.name}}</span>
            </div>
            <div class="card-content">
                <p>{{apartment.description}}</p>
                <p> $ {{apartment.rate}} </p> 
            </div>
             
            
            <div class="card-action">
                <a href="#">Reservar</a>
            </div>
        </div>
    </div>
    <form action="{% url 'booking_confirm' apartment.id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col m5 s12">
                <div class="row">
                    <div class="col s6">
                        <input type="text" class="datepicker" placeholder="Fecha de entrada" name="check-in-date">
                    </div>
                    <div class="col s6">
                        <input type="text" class="datepicker" placeholder="Fecha de salida" name="check-out-date">
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <select name="number-guests">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <label>Materialize Select</label>
                    </div>

                    <div class="col s6">
                        {% comment %}
                        <button class="btn waves-effect waves-light" id="check-availability"
                                onclick="checkAvailabilityAjax()">Ver disponibilidad
                            <i class="material-icons right">send</i>
                        </button>
                        {% endcomment %}
                        <input type="submit" class="btn waves-effect waves-light" value="Reservar">
                        <div id="check-availability-spinner">
                            <div class="preloader-wrapper small active" style="float: left;">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</div>

{% endblock body_content %}

{% block javascript %}
<script>

  document.addEventListener('DOMContentLoaded', function() {

    datepickerOptions = {
        minDate: new Date(),
        format: 'dd-mm-yyyy',
            i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"]
            }
    };

    var datepickerElems = document.querySelectorAll('.datepicker');
    var datepickerInstances = M.Datepicker.init(datepickerElems, datepickerOptions);

    var selectElems = document.querySelectorAll('select');
    var selectInstances = M.FormSelect.init(selectElems, {});
  });

     function checkAvailabilityAjax() {
            $('#check-availability').prop("disabled", true);
            $('#check-availability-spinner').show();

            data = {
                'check_in_date': $("input[name='check-in-date']").val(),
                'check_out_date': $("input[name='check-out-date']").val(),
                'number_guests': $("select[name='number-guests']").val()
            };

            $.ajax({
                headers: {"X-CSRFToken": '{{csrf_token}}'},
                type: "POST",
                url: "{% url 'check_availability' %}",
                data: data,
                datatype: 'json',
                success: function (response) {
                    $('#check-availability-spinner').hide();
                },
                error: function () {
                    console.log('There was a problem while checking availability');
                    $('#comment-submitting-spinner').hide();
                }
            });
     }


</script>
{% endblock %}