{% extends 'skeletons/main.html' %}
{% block body_content %}
    {% comment %}
    <div class="row">
        <div class="col s3">
            <img class="responsive-img" src="static/img/maintanance.png" alt="">
        </div>
        <div class="col s9">
            <h1>
                Construcción en proceso!
            </h1>
        </div>
    </div>
    {% endcomment %}
 {% load static %}
    {% for apartment in data %}
    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{MEDIA_URL}}{{apartment.apartment_image.imageFile}}">
              <span class="card-title">{{apartment.apartment.name}}</span>
            </div>
            <div class="card-content">
              <p>{{apartment.apartment.description}}</p>
               <p>$ {{apartment.apartment.rate}}</p>
            </div>

        
            <div class="card-action">
                <a href="{% url 'book_apartment' apartment.apartment.id %}" class="waves-effect btn ">Reservar</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock body_content %}
    